{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
