rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Permite a criação de usuários se a requisição for feita com um UID correspondente
      allow create: if request.resource.data.keys().hasOnly(['uid', 'email', 'displayName', 'photoURL', 'createdAt', 'lastLogin'])
                    && request.auth.uid == userId;
      allow read: if request.auth.uid == userId;
    }
  }
}
